<h1 class="text-center">Calendar Example</h1>

<div class="row calendarH">

<div class="col-md-6 col-md-offset-3 center">

  <img id="loading" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></img>
  <table id="done" class="table">
      <thead class="thead">
          <tr>
            <th colspan="7">
                <a class="btn" id="prev" onclick="changeDate(this.id)"><i class="glyphicon glyphicon-chevron-left"></i></a>
              	<a class="btn my" id="calendar-my"></a>
              	<a class="btn" id="next" onclick="changeDate(this.id)"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </th>
          </tr>
          <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
          </tr>
      </thead>
      <tbody id="calendar">
      </tbody>
  </table>

  <div id="holiday-texts">
  </div>

</div>

</div>
