// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.left {
  float: left;
}

.line-spacing{
  border-top: 1px solid #DBDBDB;
  margin-bottom: 5px;
  color: #777;
}

.bold-spacing{
  border-top: 5px solid #DBDBDB;
  margin: 15px 0 20px 0;
  color: #777;
}

.box-it{
  border: 1px solid #424242;
  text-align: center;
  padding: 15px;
}

.sml-fieldset{
  width: 400px;
  text-align: center;
  margin: auto;
}

.upload-form{
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
  color: rgb(174, 173, 173);
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.user-dropdown {
  background: rgb(62, 4, 4) none repeat scroll 0% 0%;
  font-weight: bold;
  font-size: medium;

}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -1px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 7px;
  font-weight: normal;
  color: #777;
  margin-top: 0px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-inverse {
  background-color: #511919;
  border-color: #4D1B1B;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Calendar */

.calendarH {
  height: 300px;
}

table {
   margin: auto;
   cursor: default;
}

.my {
  font-size: 1.3em !important;
}

.currDay {
  background-color: #4e80db;
  color: white;
}

td > a {
  text-decoration: none !important;
  color: white !important;
}
